html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}


.pagination {
  display: flex;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  justify-content: start;
  bottom: 16px !important;
}

.bullet {
  display: flex;
  margin-right: 1.25rem;
  color: #ffffff;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  padding: 4px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Montserrat";
  }
}
