html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.child {
  flex: 2 0 21%; /* explanation below */
  margin: 5px;
  height: 100px;
  background-color: blue;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Montserrat";
  }
}
