html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

/*move swiper pagination on top to image */
.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  display: flex;
  width: fit-content !important;
  height: fit-content !important;
  right: 70px;
  bottom: 16px !important;
  left: auto !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Montserrat";
  }
}
